<h1>Hello#index</h1>
<% if flash.notice.present? %>
    <p><%= flash.notice %></p>
<% end %>

<%= form_tag action: :world, method: :post do %>
    <div>
        Hello,
        <%= text_field_tag :message, 'ActiveJob' %>
        <%= submit_tag 'World!!' %>
    </div>
    <div>
        <label><%= check_box_tag :immediately %> immediately</label>
    </div>
<% end %>
